.container{
    width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}

#password{
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    padding-right: 40px;
    width: 250px;
    text-align: center;
    background-color: whitesmoke;
}
#password h2{
    color: red;
}